body {
	background-color: #D0EBFF;
	font-family: Arial;
	color: #0073d0;
}

h1 {
	display: auto;
	text-align: center;
	font-size: 4vw;
	margin-bottom: 8%;
}

h3 {
	font-weight: 600;
	font-size: 1.5vw;
	margin-bottom: 7%;
	text-align: center;

}

#form {
	display: auto;
	text-align: center;
	border-width: 3px;
	border-color: #0073d0;
	background-color: #E9F6FF;
	border-style: solid;
	margin: 1% 16%;
	padding: 3%;
}

#inputBoxes {
	margin: 3%;
}

#submitBox {
	padding: 4%;
}

#submitButton {
	padding: 0.8%;
}

#resultBox {
	border-width: 3px;
	border-color: #0073d0;
	border-style: solid;
	background-color: #E9F6FF;
	margin: 1% 16%;
	margin-bottom: 2%;
	padding: 1.5%;
	padding-bottom: 8%;
}

#results {
	position: relative;
	margin: 0 auto;
	background-color: #fff;
	padding: 6%;
	text-align: center;
	font-family: Arial;
	font-size: 1.5vw;
	color: #0073d0;
	width: 60%;
}

.inputText {
	margin: 0.6%;
}